PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/taskplanet?retryWrites=true&w=majority
JWT_SECRET=your_super_secret_key
FRONTEND_URL=http://localhost:3000
FRONTEND_URLS=http://localhost:3000
